{{#each model as |user| }}
	<div class="row">
		<div class="col-md-3 col-sm-4">
			{{#single-user item=user}}
			{{/single-user}}
		</div>
		<div class="col-md-3 col-sm-4">
			<button type="submit" class="btn btn-danger btn-xs" 
				{{action 'deleteUser' user}}>
				delete user
			</button>
			</div>
	</div>
{{/each}}

