<h1>Login</h1>
{{#if errorMessage}}
	<p>
		<strong>Error:</strong>
		<code>{{errorMessage}}</code>
	</p>
{{/if}}
<form {{action "authenticate" on="submit"}}>
	<div>
		<label for="username">Username</label>
		{{input id="login-username" value=username placeholder="Enter username"}}
	</div>
	<div>
		<label for="password">Password</label>
		{{input id="login-password" value=password placeholder="Password" type="password"}}
	</div>
	<button class="login-submit" type="submit">Login</button>
</form>
