<h1>Sign up</h1>
<form {{ action "register" on="submit"}}>
	{{#if errorMessage}}
		<p>
			<strong>Error:</strong>
			<code>{{errorMessage}}</code>
		</p>
	{{/if}}
	<div>
		<label for="username"> Username</label>
		{{input value=username placeholder="Enter username"}}
	</div>
	<div>
		<label for="password">Password</label>
		{{input value=password type="password" placeholder="Password"}}
	</div>
	<button type="submit"> Sign up</button>
</form>
