{{#nav-link-to 'index' }}<a href="">Home</a>{{/nav-link-to}}
{{#nav-link-to 'about' }}<a href="">About</a>{{/nav-link-to}}
{{#nav-link-to 'contact' }}<a href="">Contact</a>{{/nav-link-to}}
{{#if session.isAuthenticated}}
	{{#nav-link-to 'secret'}}<a href="">Secrets</a>{{/nav-link-to}}
		<li style="top:12px; float:right; color:white; bgcolor:black" >
			<button {{action "logout"}} class="btn btn-sm" style="background:black">Logout</button>
		</li>
{{else}}
	{{#nav-link-to 'login'}}<a href="">Login</a>{{/nav-link-to}}
	{{#nav-link-to 'users.new'}}<a href="">Sign up!</a>{{/nav-link-to}}
	
{{/if}}

