{{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
{{#link-to 'about' tagName="li"}}<a href="">About</a>{{/link-to}}
{{#link-to 'contact' tagName="li"}}<a href="">Contact</a>{{/link-to}}
{{#if session.isAuthenticated}}
	{{#link-to 'secret' tagName="li"}}<a href="">Secrets</a>{{/link-to}}
		<li style="top:12px; float:right; color:white; bgcolor:black" >
			<button {{action "logout"}} class="btn btn-sm" style="background:black">Logout</button>
		</li>
{{else}}

	{{#link-to 'login' tagName="li"}}<a href="">Login</a>{{/link-to}}
	
{{/if}}

